
/* a nice, simple style for the whole page */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-bg: #fdfdfd;
    --color-fg: #0e0e0e;
    --color-link: #60d;
    --color-hl: #a4f;
}

/* set up dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #222;
        --color-fg: #e7e7e7;
        --color-link: #82e;
        --color-hl: #b5f;
    }
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.container {
    width: 860px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-hl);
}

.header {
    font-size: 1.25rem;
}

.main.content {
    font-size: 1.15rem;
}

.container hr {
    margin: 48px 12px;
    border: 0;
    border-top: 2px solid #777;
}

#btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#txt_uid {
    font-family: monospace;
    font-size: 0.85rem;
    font-weight: 400;
    width: 29em;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* adjust styles for small devices */

@media (max-width: 860px) {
    .container {
        margin-top: 24px;
        width: 100%;
    }

    .header {
        font-size: 1.4rem;
    }
    
    .content {
        font-size: 1rem;
    }
}

@media (max-width: 680px) {
    #txt_uid {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
